@{
    ViewBag.Title = "Contacto";
    // Description - Used by search engines. Aim for more than 160 characters.
    ViewBag.Description = "Sitio web de la veterinaria safari";
    // Author - (Optional) Used by search engines. The author of the page.
    ViewBag.Author = "Andres Benitez";
    // Referrer - (Optional) Controls what is sent in the HTTP referrer header when a client navigates from your page
    //            to an external site for increased user privacy and security. See ReferrerMode for more information.
    ViewBag.ReferrerMode = ReferrerMode.OriginWhenCrossOrigin;

    // Add Twitter Card and Open Graph social meta tags so we can customize what happens when our page is shared
    // on these social networks. Note that other social networks like Google+, Pintrest and others also use these.
    // There are dozens of different Twitter Card or Open Graph object types we could add, a different one is added
    // on each page as an example.
    // These helpers make it very easy to add the meta tags. For best performance, see what tags are generated and
    // hand code them yourself instead of using these helpers.
    ViewBag.TwitterCard = new SummaryLargeImageTwitterCard("@andres.benitez");
    ViewBag.OpenGraph = new OpenGraphWebsite(
        ViewBag.Title,
        new OpenGraphImage(Url.AbsoluteContent("~/content/icons/open-graph-1200x630.png")) { Height = 630, Type = ContentType.Png, Width = 1200 })
    {
        Determiner = OpenGraphDeterminer.Blank,
        SiteName = Application.Name
    };
}

<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>



    <meta http-equiv="content-type" content="text/html; charset=utf-8" />
    <title>Google Maps JavaScript API Example</title>
    <script src="http://maps.google.com/maps?file=api&v=2&key=AIzaSyDAXO4TiH-LvwVcmf9_qDS-PtlUuFW-578"
            type="text/javascript"></script>
    <script type="text/javascript">
        //<![CDATA[
        function load() {
            if (GBrowserIsCompatible()) {
                var map = new GMap2(document.getElementById("map"));
                map.setCenter(new GLatLng(37.4419, -122.1419), 13);
            }
        }
        //]]>
    </script>

 

    <address>
        Juan de Arco 2255<br />
        Castelar, Buenos aires<br />
        <abbr title="Telefono">Telefono:</abbr>
        +5411 5555-0100
    </address>

    <address>
        <strong>Soporte:</strong>   <a href="mailto:Support@sudamericangreen.net">Support@sudamericangreen.net</a><br />
        <strong>Informacion:</strong> <a href="mailto:info@sudamericangreen.net">info@sudamericangreen.net</a>
    </address>



